%content-column {
	max-width: $width-column-content;
	width: 100%;

	padding: 0 16px;

	@include smallestScreen() {
		padding: 0 8px;
	}
}

%flex-column {
	display: flex;
	flex-direction: column;
}

//ui
%ui-vert-list {
	@extend %flex-column;
	gap: 16px;
}

%ui-vert-big-list {
	@extend %flex-column;
	gap: 24px;
}

%ui-shadow-block {
	@include ui-shadow-block();
}

%ui-counter {
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 1px 4px;

	color: white;
	@include tightFont() {
		@include fontCaption();
	}
	border-radius: .5em;

	background-color: $color-main;
}

%ui-big-counter {
	@extend %ui-counter;
	padding: 2px 5px;
}


//input
%ui-input {
	--vert-pad: 12px;
	--horiz-pad: 16px;
	--color-bg: white;
	--color-holder: #{$color-text-lighter};
	--border-r: 8px;

	position: relative;
	min-width: 268px;

	display: flex;
	align-items: center;
	gap: var(--vert-pad) var(--horiz-pad);

	padding: var(--vert-pad) var(--horiz-pad);

	@include fontMid();

	background-color: var(--color-bg);
	border: 1px solid $color-border-grey-lighter;
	border-radius: var(--border-r);

	@include anim();

	> {
		input,
		.ui-i-input {
			display: flex;
			align-items: center;
			width: 100%;
			padding-right: 32px;
			box-shadow: inset 0 0 0 500px var(--color-bg);

			&::placeholder {
				color: var(--color-holder);
			}

			&[type=number] {
				@extend %ui-off-number-input;
			}
		}
	}

	&.fill {
		width: 100%;
	}

	&:focus,
	&:hover,
	&:active {
		border: 1px solid $color-main;
	}

	@include mobile() {
		min-width: 100%;
	}
}

%ui-off-number-input {
	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	/* Firefox */
	&[type=number] {
		-moz-appearance: textfield;
	}
}

//btn
%ui-btn {
	cursor: pointer;
	user-select: none;
}

%ui-big-btn {
	@extend %ui-btn;
	--border-width: 0px;
	--vert-pad: 8px;
	--horiz-pad: 16px;

	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;

	padding: Calc(Var(--vert-pad) - Var(--border-width)) Calc(Var(--horiz-pad) - Var(--border-width));

	@include font(18, 20);

	border-radius: 16px;

	z-index: 2;
	@include anim();

	&.disabled {
		pointer-events: none;
		@include ui-inactive();
	}

	&.low-disabled {
		@include ui-inactive();
	}

	&.wide {
		min-width: 350px;
		max-width: 350px;
		width: 100%;

		@include mobile() {
			min-width: 100%;
			width: 100%;
			max-width: 100%;
		}
	}

	&.loading {
		pointer-events: none;

		&:before {
			content: '';
			@include absoluteGrow();
			width: 100%;
			height: 100%;

			border-radius: inherit;
			background-color: inherit;

			z-index: 2;
		}

		&:after {
			content: '';
			@include ui-spinner(true);
		}
	}

	&.big {
		--vert-pad: 12px;
		--horiz-pad: 24px;

		border-radius: 24px;

		@include bigMobile() {
			--vert-pad: 8px;
			--horiz-pad: 16px;
		}
	}

	@mixin local-small-mob() {
		@include bigMobile() {
			--horiz-pad: 8px;
			--vert-pad: 4px;
			@include font(16, 16);
		}
	}

	&.small {
		@include font(14, 16);

		* {
			@include font(14, 16);
		}

		@include local-small-mob();
	}

	@include bigMobile() {
		--horiz-pad: 12px;
		@include font(16, 20);
	}

	&.small-mob {
		@include local-small-mob();
	}
}

