/// Fonts LP
@mixin fontUnify($font-size: 16, $line-height: 22, $weight: 400) {
  font-size: $font-size * 1px;
  line-height: $line-height * 1px;
  font-weight: $weight;
}

@mixin flex-container(
  $direction: row,
  $spacing: space-between,
  $alignment: null
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $spacing;
  align-items: $alignment;
}

@mixin width-pad-main() {
  @extend %width-main;
  padding-left: 16px;
  padding-right: 16px;
}
